<div class="jumbotron">
  <h1>My Dictionary</h1>
</div>
<div class="container">
  <h3>Are there some words you want to learn? This site will help you collect all the words you want to learn. Then you can add some definitions to each word based on what you know.</h3>
  <h2>Word List</h2>
  <h4>Click on the words listed below to <strong>view</strong> or <strong>add definition(s)</strong> to a word. Otherwise click on the <strong>Add a Word</strong> button to add to the list.</h4>

  <ul>
  <% @words.each do |word| %>
    <li><a href="/word/<%=word.id%>"><%= word.word_name %></a></li>
  <% end %>
  </ul>

  <a href="/word_form" class="btn btn-success">Add a Word</a>
  <a href="/words_clear" class="btn btn-danger">Remove Words</a>
</div>
