<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" charset="utf-8">
    <title>Kid Dictionary</title>
  </head>
  <body>
    <div class="container">
      <%= yield%>
    </div>
  </body>
</html>
