<div class="jumbotron">
  <h1>Add a Word</h1>
</div>
<div class="container">
  <h5>Enter a word below to add to the Word List.</h5>

  <form action="/words_after_add" method="post">
    <div class="form-group">
      <label for="word">Enter a New Word Here:</label>
      <input type="text" name="word" class="form-control">
    </div>
    <button type="submit" name="word-button" class="btn">Add Word</button>
  </form>

  <a href="/" class="btn btn-info">Word List</a>
</div>
