body h1, h2 {
  font-family: 'Baloo', cursive;
  color: #1C80B2;
}

.jumbotron {
  background-color: #41C0FF;
}

.jumbotron h1 {
  text-align: center;
  color: white;
  font-size: 72px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}


#green-bold {
  color: #A7CC20
}

#blue-bold {
  color: #41C0FF;
}

#red-bold {
  color: #FF4F3A
}

.btn {
  display: block;
  margin: auto;
  width: 150px;
  margin-top: 10px;
  border: 0;
}

.btn-success {
  background-color: #A7CC20;
}

.btn-danger {
  background-color: #FF4F3A;
}

.btn-info {
  background-color: #41C0FF;
}
